# Ignore all
*

# Except..
!.Xresources
!.bashrc
!.gitignore
!.vimrc
!.xinitrc
!.zshrc

# i3 config
!.i3
.i3/*
!.i3/config

# files in root .config
!.config
.config/*
!.config/compton.config

# neofetch 
!.config/neofetch
.config/neofetch/*
!.config/neofetch/config.conf

# polybar
!.config/polybar
.config/polybar/*
!.config/polybar/scripts

# rofi
!.config/rofi
.config/rofi/*
!.config/rofi/config.rasi
!.config/rofi/material.rasi
!.config/rofi/carbo.rasi

# neovim
!.config/nvim
.config/nvim/*
!.config/nvim/themes
!.config/nvim/general
!.config/nvim/keys
!.config/nvim/plug-config
!.config/nvim/vim-plug
