.PyCharmCE2018.3/
.PyCharmCE2019.2/
.Xauthority
.Xclients
.atom/
.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.ccache/
.config/Atom/
.config/BraveSoftware/
.config/DisplayCAL/
.config/Electron/
.config/FEZ/
.config/Flavio Tordini/
.config/Franz/
.config/GIMP/
.config/Kvantum/
.config/Mousepad/
.config/QtProject.conf
.config/Risk_of_Rain/
.config/Slack/
.config/Unknown Organization/
.config/autostart/
.config/balena-etcher-electron/
.config/cava/
.config/cef_user_data/
.config/chromium-flags.conf
.config/chromium/
.config/clipit/
.config/configstore/
.config/dconf/
.config/discord/
.config/dmenu-recent/
.config/dunst/
.config/enchant/
.config/epdfview/
.config/falkon/
.config/gconf/
.config/gedit/
.config/gtk-2.0/
.config/gtk-3.0/
.config/hexchat/
.config/htop/
.config/i3-scrot.conf
.config/libfm/
.config/libreoffice/
.config/litecli/
.config/lxsession/
.config/manjaro-hello.json
.config/manjaro/
.config/menus/
.config/mimeapps.list
.config/morc_menu/
.config/nitrogen/
.config/pamac/
.config/pcmanfm/
.config/polybar/config-t1.ini
.config/polybar/config-t2.ini
.config/polybar/config-t3.ini
.config/polybar/config-t4.ini
.config/polybar/config-t5.ini
.config/polybar/config-t6.ini
.config/polybar/fonts/
.config/polybar/polybar-6/
.config/polybar/scripts/color-switch.sh
.config/polybar/scripts/colors-dark.sh
.config/polybar/scripts/colors-light.sh
.config/polybar/scripts/type-switch.sh
.config/polybar/scripts/type.sh
.config/powerline-shell/
.config/privateinternetaccess/
.config/pulse/
.config/qt5ct/
.config/qutebrowser/
.config/ranger/
.config/redshift.conf
.config/retroarch/
.config/rofi/carbo.rasi
.config/rtv/
.config/s-tui/
.config/snes9x/
.config/spicetify/
.config/spotify-tui/
.config/spotify/
.config/sqlitebrowser/
.config/terminator/
.config/transmission-daemon/
.config/transmission/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/viewnior/
.config/visualboyadvance-m/
.config/vlc/
.config/volumeicon/
.config/wal_steam/
.config/xarchiver/
.config/xfburn/
.config/xfce4/
.dir_colors
.dmenurc
.dmrc
.dwarffortress/
.electron-gyp/
.electron/
.esd_auth
.fehbg
.fonts/
.gimp-2.8/
.gitconfig
.gnupg/
.grsync/
.gtkrc-2.0
.hplip/
.i3/i3status.conf
.i3status.conf
.icons/
.inputrc
.ipython/
.java/
.jupyter/
.keras/
.lesshst
.local/
.mailcap
.minecraft/
.moc/
.moonchild productions/
.mozilla/
.node-gyp/
.oh-my-zsh/
.packer.d/
.pki/
.profile
.pulse-cookie
.python_history
.rnd
.rustup/
.shell.pre-oh-my-zsh
.steam/
.steampath
.steampid
.subversion/
.thumbnails/
.urxvt/
.v8flags.7.0.276.38-node.13.d8baa50079102342a4b8c92fe3c5bfba.json
.vim/
.viminfo
.viminfo.tmp
.viminfz.tmp
.w3m/
.wicd/
.wine/
.xprofile
.xsession-errors
.xsession-errors.old
.yarnrc
.z
.zcompdump-mi3-5.7.1
.zprofile
.zsh_history
.zsnes/
AUR/
B140QAN02_0.icm
Desktop/
Documents/
Downloads/
GPUCache/
Pictures/
dropbox/
i3lock-fancy/
python/
rom/
scripts/
seaborn-data/
work/

