# Ignore all
*


# Except..
!.Xresources
!.bashrc
!.gitignore
!.vimrc
!.xinitrc
!.zshrc


# Sub folders
!.i3/config
!.config/*
.config/*
!.config/compton.config
!.config/neofetch/config.conf
!.config/polybar/*
!.config/rofi/config.rasi
!.config/rofi/material.rasi
!.config/rofi/carbo.rasi
